﻿@model ShoppingCartViewModel

@{
    var pageName = "Giỏ hàng";
    ViewData["Title"] = pageName;
}

<h2>@pageName của bạn</h2>
<h4>Đây là những chiếc pizza ngon lành trong giỏ hàng của bạn</h4>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Chọn số lượng</th>
            <th>Pizza</th>
            <th class="text-right">Giá</th>
            <th class="text-right">Tổng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-center"><a class="btn btn-default" asp-action="RemoveFromShoppingCart" asp-route-pizzaId="@line.Pizza.Id"><b>-</b></a>          <b>@line.Amount</b>          <a class="btn btn-default" asp-action="AddToShoppingCart" asp-route-pizzaId="@line.Pizza.Id"><b>+</b></a></td>
                <td class="text-left">@line.Pizza.Name</td>
                <td class="text-right">@line.Pizza.Price.ToString("c")</td>
                <td class="text-right">
                    @((line.Amount * line.Pizza.Price).ToString("c"))
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.ShoppingCartTotal.ToString("c")
            </td>
        </tr>
    </tfoot>
</table>

<div align="right">
    @if (Model.ShoppingCartTotal > 0)
    {
        <a asp-controller="Orders" asp-action="Checkout" class="btn btn-primary">Kiểm tra thông tin trước khi đặt đơn</a>
    }
</div>
<div align="left">
    <a asp-controller="ShoppingCart" asp-action="ClearCart" class="btn btn-danger">Xoá tất cả</a>
</div>

