﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        @if (User.IsInRole("Admin"))
        {
            <li><a asp-controller="Admin" asp-action="Index">Trang Admin</a></li>
        }
        <li><a href="">Xin chào, @User.Identity.Name</a></li>
        
        <li><a id="logoutLink" asp-controller="Account" asp-action="LogOut">Đăng xuất</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a id="registerLink" asp-controller="Account" asp-action="Register">Đăng ký</a></li>
        <li><a id="loginLink" asp-controller="Account" asp-action="Login">Đăng nhập</a></li>
    </ul>
}
