﻿@model IEnumerable<Reviews>

@{
    var ModelName = "Tất cả đánh giá";
    ViewData["Title"] = ModelName;
}

<h2>Tất cả đánh giá</h2>
<h4 id="currentlySortedBy">Sắp xếp theo: </h4>

<div>
    <b>Sắp xếp theo: </b>
    <select id="SelectOptionInput" onchange="ListSortedReviewsScript()">
        <option value="Date">Ngày</option>
        <option value="Grade">Sao</option>
        <option value="Title">Tiêu đề</option>
        <option value="Pizza Name">Tên Pizza</option>
    </select>
</div>
<br />

<div>
    <b>Descending:</b>
    <input id="DescendingInput" type="checkbox" onchange="ListSortedReviewsScript()" />
</div>
<br />

<div id="outputResult">

</div>

<div id="defaultResult">
    @await Html.PartialAsync("ListAllReviewsPartial", Model)
</div>

@section Scripts
{
    <script src="~/js/Reviews.js"></script>
}

@*<table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Grade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pizza)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pizza.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Chi tiết</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
