﻿@model OnlinePizzaWebApplication.Models.PizzaIngredients

@{
    ViewData["Title"] = "Edit";
}

<h2>Chỉnh sửa</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Nguyên liệu pizza</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="PizzaId" class="control-label col-md-2">ID pizza</label>
            <div class="col-md-10">
                <select asp-for="PizzaId" class="form-control" asp-items="ViewBag.PizzaId"></select>
                <span asp-validation-for="PizzaId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IngredientId" class="control-label col-md-2">ID nguyên liệu</label>
            <div class="col-md-10">
                <select asp-for="IngredientId" class="form-control" asp-items="ViewBag.IngredientId"></select>
                <span asp-validation-for="IngredientId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Quay về danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
