﻿@{
    ViewData["Title"] = "Về chúng tôi";
}

<h2>Về chúng tôi</h2>
<p>
    <h4>Nhóm sinh viên CTK45A thực hiện</h4>
    <h5>2112990 Trần Nhật Quang Huy</h5>
    <h5>2113037 Trần Công Tuấn</h5>

</p>

