﻿@model OnlinePizzaWebApplication.Models.Ingredients

@{
    ViewData["Title"] = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Nguyên liệu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Quay về danh sách</a>
</div>
