﻿@model Pizzas

@{
    ViewData["Title"] = "CHi tiết";
}

<h2>Chi tiết</h2>

<div>
    <h4>Pizza</h4>
    <hr />
    @*<div class="img-thumbnail">
        <img src="@Model.ImageUrl" alt="Picture of @Model.Name">
    </div>*@
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPizzaOfTheWeek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPizzaOfTheWeek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">chỉnh sửa</a> |
    <a asp-action="Index">Quay về danh sách</a>
</div>
