﻿@model SearchPizzasViewModel

@{
    var ModelName = "Tìm Pizzas";
    ViewData["Title"] = ModelName;
}

<h2>@ModelName</h2>
<form asp-controller="Pizzas" asp-action="SearchPizzas">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="SearchText" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SearchText" class="form-control" />
                <span asp-validation-for="SearchText" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tìm" class="btn btn-info" />
            </div>
        </div>
    </div>
</form>

<h4>Results</h4>
<hr />

@foreach (var pizza in Model.PizzaList)
{
    @await Html.PartialAsync("PizzaSummary", pizza)
}
<br />

